@media (max-width:900px) {
    .my-orders-order {
        /* grid-template-columns: 1fr 2fr 1fr; */
        row-gap: 5px;
        font-size:12px;
    }

    .my-orders-order button {
        font-size: 10px;
    }
}