.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:#FFF5CC;
    padding:12px 25px;
    border-radius: 4px;
    border: 1px solid #FFEA00;
    ouline: 2px solid white;
    list-style:none;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
        font-size: 35px;
    }

    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
  
    .navbar-right{
        gap: 30px;
    }

    .navbar-right .icon-navbar{
         height: 30px;
         width: 30px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
        font-size: 30px;
    }

    /* .navbar-right{
        gap: 20px;
    } */

    .navbar ul{
        gap:15px;
        font-size: 16px;
    }

     .icon-navbar{
         height: 28px;
         width: 28px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:825px) {
    .navbar ul{
       display:none;
    }
}